.bigcontanier{
    background: linear-gradient(to right, #00b4db, #8ef18a);
}
.container{

    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;


}
a{
    color: black;
    text-decoration: none;
}

.card{
    display: flex ;
        margin: 10px;
        background-color: rgb(255 255 255);
        width: 200px;
        height: 200px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 19px;
}
.card img{
    width: 100%;
}
